<div *ngIf="data$ | async as data">


    <span class="total">{{ data.total | currency }}</span><br>
    <span class="avg">Average: {{ (data.total / data.count) | currency }}</span>

    <h1>Donations</h1>

    <button (click)="seed()" class="button is-success">Add Donanation</button>

    <div *ngFor="let donation of data.last5" class="card">
        {{ donation.username }} contributed {{ donation.amount | currency }}
    </div>

</div>





<!-- <span class="total">{{ total | async | currency }}</span><br>
<span class="avg">Average: {{ average | async | currency }}</span>

<h1>Donations</h1>

<button (click)="seed()" class="button is-success">Add Donanation</button>

<div *ngFor="let d of donations | async" class="card">
    {{ donation.username }} contributed {{ donation.amount | currency }}
</div> -->